@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;

700&family=Poppins:wght@700&display=swap");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Noto Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  font-family: "Noto Sans";
  color: #f8f8f8;
}

body._lock {
  overflow: hidden;
}

section {
  padding: 0 !important;
}

img {
  padding: 0 !important;
}

h2 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 50px;
}

form {
  padding: 0 !important;
}

div {
  padding: 0 !important;
}

button {
  margin: 0 !important;
}

ul li {
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #959595;
}

.container {
  max-width: 1440px;
  padding: 0 !important;
}

.col,
.col-3,
.col-12,
.col-4,
.col-xxl-6,
.col-lg-12,
.col-xxl-3,
.col-md-12,
.row-cols-6 {
  padding: 0 !important;
}

.row {
  padding: 0 !important;
  margin: 0 !important;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  z-index: 5;
  position: absolute;
  top: 0;
  left: auto;
  height: 72px;
  width: 1440px;
  padding: 0 100px;
  background: transparent;
}

.rem-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rem-header__logo {
  margin: 19px 0 0 0;
  position: relative;
  width: 139px;
  height: 35px;
}

.rem-header__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rem-header__block {
  margin: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.rem-header__links a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
  margin: 0 40px 0 0;
}

.rem-header__links :last-child {
  margin: 0;
}

.rem-header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 45px;
}

.soc {
  margin: 0 31px 0 0;
  position: relative;
  height: 18px;
  width: 18px;
}

.soc img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

footer {
  height: 121px;
  width: 100%;
}

.rem-footer {
  background: #000000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rem-footer__logo {
  margin: 37px 0 36px 80px;
  position: relative;
  width: 191px;
  height: 48px;
}

.rem-footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rem-footer__links a {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
  margin: 0 40px 0 0;
}

.rem-footer__links :last-child {
  margin: 0;
}

.rem-footer__social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 80px 0 45px;
}

.soc {
  margin: 0 31px 0 0;
  position: relative;
  height: 18px;
  width: 18px;
}

.soc img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  margin: 0 auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1440px;
  background: #f8f8f8;
}

.hut {
  position: relative;
  color: #f8f8f8;
}

.rem-img {
  width: 1440px;
  height: 686px;
  position: relative;
}

.rem-img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  margin: 190px 0 0 100px;
  position: absolute;
  top: 0;
  left: auto;
}

.title__title {
  font-weight: bold;
  font-size: 50px;
  line-height: 68px;
}

.title__text {
  margin: 32px 0 0 0;
  font-size: 15px;
  line-height: 20px;
}

.rem-col {
  width: 24%;
}

.rem-btn1 {
  margin: 72px 0 0 0;
  width: 296px;
  height: 56px;
  border: 2px solid #f8f8f8;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 15px;
  text-align: center;
}

.rem-btn1__text {
  margin: -2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 56px;
  border-radius: 15px;
}

.rem-btn1__text a {
  color: #f8f8f8;
}

.rem-btn1 :hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: -2px;
  background: #f8f8f8;
}

.rem-btn1 :hover a {
  color: #000000;
}

.offers {
  width: 1440px;
  margin: 0 0 120px 0;
}

.offers__title {
  text-align: center;
  margin: 98px 0 0 0;
  color: #AEAEAE;
}

.offers__dropgroup {
  margin: 80px 100px 0 100px;
}

.offers__check {
  margin: 25px 100px 0 100px;
}

.offers__gridgroup {
  margin: 23px 100px 0 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 366px;
  -ms-grid-columns: 295px 20px 295px 20px 295px 20px 295px;
      grid-template: 366px/repeat(4, 295px);
  grid-auto-flow: row;
  gap: 20px;
}

._no-webp .custom-dropdown-toggle::after{
  background: url("../img/icons/expand.png") 100% 0/100% 100% no-repeat; }

.custom-dropdown-toggle::after {
  border: none !important;
  position: absolute;
  content: " ";
  right: 16px;
  width: 20px;
  height: 20px;
}

.custom-dropdown-toggle:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rem-dd {
  width: 170px !important;
  height: 48px !important;
}

.rem-dd__btn:not(.show) {
  font-weight: normal !important;
  background: #f8f8f8;
}

.rem-dd__btn {
  width: 170px !important;
  height: 48px !important;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  padding: 0 0 0 16px;
  color: #000000;
  background: #ffffff;
}

.rem-dd__menu {
  inset: none !important;
  -webkit-transform: translate3d(0px, 35px, 0px) !important;
          transform: translate3d(0px, 35px, 0px) !important;
  width: 170px !important;
  border: 1px solid #BDBDBD;
  border-top: transparent;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.rem-dd__item {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  padding: 10px 16px;
}

.rem-btn2 {
  display: block;
  width: 290px;
  height: 48px;
  background: #DF4E3C;
  border-radius: 15px;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

.rem-col2 {
  width: 170px !important;
  margin: 0 20px 0 0;
  padding: 0 !important;
}

.check {
  margin: 0 0 0 25px;
}

.check input {
  width: 16px;
  height: 16px;
  border: 1px solid #8D8D8D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  background: transparent;
}

.check label {
  margin: 4px 0 0 8px;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
}

.form-check-input:checked:focus,
.form-check-input:checked:not(focus) {
  background-color: #DF4E3C;
  border-color: #DF4E3C;
}

.form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #8D8D8D;
}

.form-check-input:checked ~ .form-check-label {
  color: #DF4E3C;
}

.filters {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px 0 0 0;
}

:hover > .filters__subtext {
  color: #DF4E3C !important;
}

.filters__text {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin: -1px 37px 0 0;
}

.filters__btn5 {
  border-radius: 0;
  position: relative;
}

._no-webp .filters__btn5::after{
  background: url("../img/icons/arrowDown.png") 100% 0/100% 100% no-repeat; }

.filters__btn5::after {
  border: none !important;
  position: absolute;
  content: " ";
  left: -18px;
  top: 3px;
  width: 6px;
  height: 8px;
}

._no-webp .filters__btn5::before{
  background: url("../img/icons/arrowUPorange.png") 100% 0/100% 100% no-repeat; }

.filters__btn5::before {
  border: none !important;
  position: absolute;
  content: " ";
  top: 0px;
  left: -22px;
  width: 6px;
  height: 8px;
}

.filters__btn5:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filters__subtext {
  width: 160px;
  margin: -3px 0 0 0;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
}

.filters__subtext :focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.filters__menu {
  background: #ffffff;
  border-radius: 15px;
  border: none;
}

.filters__item {
  padding: 6px 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.filters__item :hover > a {
  color: #DF4E3C;
}

.dropdown-menu li:hover > .dropdown-item {
  color: #DF4E3C !important;
  background: none;
}

.car {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
          box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
  width: 295px;
  height: 366px;
  margin: 0 20px 20px 0;
}

.car__photo {
  width: 295px;
  height: 200px;
  position: relative;
}

.car__photo img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.car__new {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000000;
  width: 66.5px;
  height: 24px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.car__new p {
  margin: 0 0 0 20px;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 24px;
  color: #ffffff;
}

.car__title {
  margin: 20px 20px 0 20px;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
}

.car__title span {
  color: #8D8D8D;
  margin: 0 8px 0 0;
}

.car__detail {
  margin: 16px 20px 0 20px;
}

.car__detail span {
  margin: 0 16px 0 0;
  font-weight: 300;
  font-size: 14px;
  color: #8D8D8D;
  line-height: 19px;
  position: relative;
}

.car__stick::after {
  z-index: 5;
  content: "|";
  position: absolute;
  height: 18px;
  width: 1px;
  color: #8D8D8D;
  top: 0;
  left: -12px;
}

.car__stick::before {
  z-index: 5;
  content: "|";
  position: absolute;
  height: 18px;
  width: 1px;
  color: #8D8D8D;
  top: 0;
  left: 72px;
}

.car__price {
  margin: 26px 20px 35px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

:hover > .car__photo img {
  opacity: 90%;
}

.sold {
  -webkit-filter: grayscale(2);
          filter: grayscale(2);
  position: relative;
  cursor: not-allowed;
}

.sold:after {
  z-index: 510;
  top: 63px;
  left: 50%;
  position: absolute;
  content: "SOLD";
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.sold:before {
  z-index: 500;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.55);
  content: " ";
}

.subscr {
  background: #000000;
}

.subscr__text {
  margin: 40px 0 0 100px;
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
}

.subscr__text p {
  margin: 20px 0 46px 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
}

.subscr__form {
  margin: 55px 100px 0 95px;
}

.subscr__email {
  margin: 0 20px 0 0;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  width: 505px;
  height: 54px;
  background: transparent;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.subscr__email:focus {
  background: #f8f8f8;
  border: 1px solid #BDBDBD;
}

.subscr__email:focus::-webkit-input-placeholder {
  color: transparent;
}

.subscr__email:focus::-moz-placeholder {
  color: transparent;
}

.subscr__email:focus:-ms-input-placeholder {
  color: transparent;
}

.subscr__email:focus::-ms-input-placeholder {
  color: transparent;
}

.subscr__email:focus::placeholder {
  color: transparent;
}

.subscr__btn {
  width: 190px;
  height: 54px;
  background: #f8f8f8;
  color: #000000;
  border-radius: 15px;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.subscr :hover > button {
  background: #000000;
  border: 1px solid #f8f8f8;
  color: #f8f8f8;
}

.faq__title {
  margin: 120px 0 56px 0;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  color: #AEAEAE;
}

.faq__qblock {
  margin: 0 310px 200px 310px;
}

.aitem {
  border: none !important;
  background: #ffffff;
}

.aitem__title button {
  height: 68px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  background: #f8f8f8;
  border-bottom: 1px solid #C4C4C4 !important;
}

.aitem__btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.aitem__body {
  background: #ffffff;
  margin: -25px 46px 0 39px;
  position: relative;
}

.aitem__body p {
  text-align: justify;
  margin: 8px 0 8px 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  color: #000000;
  background: #ffffff;
}

.aitem__body :last-child {
  padding-bottom: 24px;
}

.aitem__body :first-child {
  padding-top: 16px;
}

.accordion-button:not(.collapsed) {
  z-index: 5;
  background: #ffffff;
  color: #DF4E3C;
  font-weight: bold;
  padding: 0 0 0 39px;
  top: -1px;
  -webkit-box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
          box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
  -webkit-clip-path: inset(-20px -20px 2px -20px);
          clip-path: inset(-20px -20px 2px -20px);
}

.accordion-button::after {
  content: "+";
  font-size: 24px;
  background: none;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transform: translateX(-12px);
      -ms-transform: translateX(-12px);
          transform: translateX(-12px);
}

.accordion-button:not(.collapsed)::after {
  content: "—";
  font-size: 12px;
  background: none;
  -webkit-transform: translateX(-42px);
      -ms-transform: translateX(-42px);
          transform: translateX(-42px);
}

.accordion-collapse {
  -webkit-box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
          box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
}

._webp .custom-dropdown-toggle::after{ background: url(../img/icons/expand.webp) 100% 0/100% 100% no-repeat; }

._webp .filters__btn5::after{ background: url(../img/icons/arrowDown.webp) 100% 0/100% 100% no-repeat; }

._webp .filters__btn5::before{ background: url(../img/icons/arrowUPorange.webp) 100% 0/100% 100% no-repeat; }